body, html {
  height: 100%;
  margin: 0;
}
.container> * {
  /* overflow: scroll; */
}

:root{
  --gridBaseH: 100px;
  --gridBaseW: 200px;
}

.container {
  text-align: center;
  height: 100vh;
  max-height: 100vh;
  padding: 16px;
  box-sizing: border-box;

  display: grid;

  gap: 15px;

  grid-template: repeat(2, var(--gridBaseH)) calc(var(--gridBaseH)*5) var(--gridBaseH)/var(--gridBaseW) calc(var(--gridBaseW)*3);
  grid-template-areas: "H H"
                       "S N"
                       "S A"
                       "F F";
}

.container div {
  padding: 15px;
  font-size: 32px;
  font-family: Helvetica;
  font-weight: bold;
  color: white;
  border-radius: 15px;
}

.header {
  background-color: #FFDE22;
  grid-area: H;
}

.sidebar {
  background-color: #FF7755;
  grid-area: S;
}

.nav {
  background-color: #00DDFF;
  grid-area: N;
}

.article {
  background-color: #bccbde;
  grid-area: A;
  
  overflow: scroll;
  overflow-x: hidden;
}

.article p {
  font-size: 18px;
  font-family: sans-serif;
  color: white;
  text-align: left;
}

.footer {
  background-color: #393f4d;
  grid-area: F;
}
